@import "normalize";
@import "reset";

body {
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: khaki;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  color: blue;
   color: red;
}
